<html>
<head>
<style>
		
		.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	   -moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	        box-shadow: 0 0 0.25em #b2d1ff;
}
		
			ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h1{
color : #b20000;
}

th{
color : #b20000;
}

tr{
color : #b20000;
}

td{
color : #b20000;
}
h3{
color : #b20000;
}

a.login{
color : #b20000;
}

label{
color : #b20000;

}
li a:hover {
    background-color: #111;
}
		
		</style>
		<title><g:message code="Home" args="[entityName]"/></title>
</head>
<body>
</body>
</html>